@import "tailwindcss";

@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  font-family: system-ui, sans-serif;
}
::selection {
  color: white;
  background: black;
}
